# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Language directories to ignore
# Afrikaans
src/pages/af/
# Arabic
src/pages/ar/
# Bengali
src/pages/bn/
# Bulgarian
src/pages/bg/
# Catalan
src/pages/ca/
# Chinese (Simplified)
src/pages/zh/
# Croatian
src/pages/hr/
# Czech
src/pages/cs/
# Danish
src/pages/da/
# Dutch
src/pages/nl/
# English
src/pages/en/
# Finnish
src/pages/fi/
# French
src/pages/fr/
# German
src/pages/de/
# Greek
src/pages/el/
# Gujarati
src/pages/gu/
# Hebrew
src/pages/he/
# Hindi
src/pages/hi/
# Hungarian
src/pages/hu/
# Indonesian
src/pages/id/
# Italian
src/pages/it/
# Japanese
src/pages/ja/
# Kannada
src/pages/kn/
# Korean
src/pages/ko/
# Lithuanian
src/pages/lt/
# Latvian
src/pages/lv/
# Malayalam
src/pages/ml/
# Marathi
src/pages/mr/
# Malay
src/pages/ms/
# Norwegian
src/pages/no/
# Polish
src/pages/pl/
# Portuguese
src/pages/pt/
# Punjabi
src/pages/pa/
# Romanian
src/pages/ro/
# Russian
src/pages/ru/
# Slovak
src/pages/sk/
# Slovenian
src/pages/sl/
# Spanish
src/pages/es/
# Swedish
src/pages/sv/
# Tamil
src/pages/ta/
# Telugu
src/pages/te/
# Thai
src/pages/th/
# Turkish
src/pages/tr/
# Ukrainian
src/pages/uk/
# Urdu
src/pages/ur/
# Vietnamese
src/pages/vi/
