---
interface ContainerProps {
	class?: string;
	[key: string]: any;
}

const { class: className, ...props }: ContainerProps = Astro.props;
---

<div {...props} class:list={["mx-auto max-w-7xl px-4 sm:px-6 lg:px-8"]}>
	<div class:list={[className, "mx-auto max-w-3xl"]}>
		<slot />
	</div>
</div>
