<select
	x-data={`{
				theme: localStorage.theme || 'system',
				updateDocumentClassTheme: function() {
					if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
						document.documentElement.classList.add('dark');
					} else {
						document.documentElement.classList.remove('dark');
					}
				},
				switchTheme: function (newValue) {
					if (newValue == 'dark') {
						localStorage.theme = 'dark';
					} else if (newValue == 'light') {
						localStorage.theme = 'light';
					} else {
						localStorage.removeItem('theme');
					}
					this.updateDocumentClassTheme();
				},
			}`}
	aria-label="Theme selector"
	name="theme-selector"
	id="theme-selector"
	class="dark:stone-50 cursor-pointer focus-visible:outline-none dark:bg-stone-800"
	x-init="updateDocumentClassTheme()"
	x-model="theme"
	@change="switchTheme($event.target.value)">
	<option value="system">System</option>
	<option value="dark">Dark</option>
	<option value="light">Light</option>
</select>
