---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "@components/BaseHead.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/consts";

type LayoutProps = {
	title: string;
	description: string;
	image?: string;
};

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props as LayoutProps;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} />
		<ViewTransitions />
	</head>

	<body class="bg-stone-50 dark:bg-stone-800 text-stone-800 dark:text-stone-50">
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
